<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @blog_post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @blog_post.content %>
</p>

<p>
  <b>Published on:</b>
  <%= @blog_post.published_on %>
</p>

<p>
  <b>Tags:</b>
  <%= @blog_post.tags %>
</p>


<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
<%= link_to 'Back', blog_posts_path %>
